# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
.history

# Environment files
.env
.env.*
!.env.example

# Test & tools
coverage
*.tsbuildinfo
.eslintcache
.cache
.temp
stats.html
.smoke_ids.json
